
/* body{
    height: 100vh;
     width: 100vw;
     background-image: linear-gradient(#0f0f0f,rgb(56, 52, 52),rgb(16, 4, 4),rgb(16, 16, 16));

} */

/* 
.container{
  color: wheat;
  text-decoration: none;
 }
  */

/* .content{
  margin: 20vh;
  padding: 25px;
  background-position: center;
  border: 2px solid rgb(231, 31, 181);
  border-radius: 10%;
  display: grid;
  align-items: center;
  align-content: center;
  place-items: center;
  justify-content: center;
} */

/* .generateBtn{
  background-color: #04AA6D;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
} */

/* .generateBtn:hover{
  background-color: #131313;
  color: white;
  cursor: pointer;
  background-image: radial-gradient(circle, #2e2d2d, #2c2a2c, #2e2c2f, #262527, #171717, #070707, #2d2e2f, #01060a, #f24ae7, #202121, #010101, #1a1e1e);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(17, 14, 14, 0.19);
} */


 /* #heading{
  font-size: 72px;
  background: -webkit-linear-gradient(#fefefe, #faf9f9);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  transition-duration: 0.4s;
} */

/* #heading:hover{
  background-color: #131313;
  color: white;
  cursor:grab;
  background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(17, 14, 14, 0.19);
}  */


.githubLogo{
  display: flex;
  align-items: center;
  justify-content: center;
  filter: invert(100%);
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'League Spartan', 'sans-serif'; */
}

:root{

  --dk-violet: hsl(268, 75%, 9%);
  --lt-violet: hsl(268, 47%, 21%);
  --lt-violet2: hsl(281, 89%, 26%);
  --vb-violet: hsl(258, 91%, 52%);
  --vb-violet2: hsl(292, 70%, 36%);

  --vb-yellow: hsl(52, 100%, 62%);

  --pl-white: hsl(0, 0%, 100%);

  --vb-cyan: hsl(176, 100%, 44%);
  --vb-cyan2: hsl(177, 92%, 70%);
  --dk-text: hsl(198, 20%, 13%);
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./Assets/rocket.jpg);
  background-repeat: no-repeat;
  /* background-size: ; */
  background: linear-gradient(231deg, rgba(22, 6, 40, 1)0%, rgba(52, 28, 79, 1) 50%, rgba(88, 7, 125,1 ) 100%);
}

.container{
  width: 90%;
  max-width: 400px;
}

#heading{
  background-image: linear-gradient(-225deg, #231557 0%,#44107a 29%,#ff1361 67%,#fff800 100%
  );
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  font-size: 35px;


  /* opacity: 0.75; */
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.2;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.display-container{
  position: relative;
  background: var(--dk-violet);
  border-radius: 1rem;
  border-bottom: 0.35rem solid var(--lt-violet2);
  margin: 1rem;
  padding: 0.2rem;
}

.display{
  width: 100%;
  background-color: transparent;
  padding: 1rem 1rem;
  color: var(--vb-yellow);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: 1px;
  padding-right: 3.25rem;
  border: none;
}

.display::placeholder{
  position: absolute;
  top: 50%;
  left: 1.5rem;
  font-size: 1.5rem;
  line-height: 30px;
  color: var(--vb-yellow);
  opacity: 0.65;
  text-transform: uppercase;
  border: none;
  transform: translateY(-50%);
}

.display-container button{
  position: absolute;
  top: 50%;
  right: 1.15rem;
  padding: 7px;
  transform: translateY(-50%);
  cursor: pointer;
}

.input-container{
  width: 100%;
  background-color: var(--dk-violet);
  border-radius: 1rem;
  padding: 2rem;
  border-bottom: 0.35rem solid var(--lt-violet2);
}

.length-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.length-container p:nth-child(1){
  color: var(--pl-white);
  font-size: 1.5rem;
}

.length-container p:nth-child(2){
  color: var(--vb-yellow);
  font-size: 1.5rem;
}


.strength-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.75rem;
  margin-bottom: 2rem;
}

.strength-container p{
  color: var(--pl-white);
  font-size: 1.5rem;
}

.indicator{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.generateBtn{
  width: 100%;
  padding: 1rem;
  background-color: var(--vb-violet);
  text-align: center;
  border-radius: 0.75rem;
  border-bottom: 0.35rem solid var(--vb-yellow);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--vb-yellow);
  font-size: 600;
  font-weight: 1.25rem;
  cursor: pointer;
  border-inline-end-color: var(--vb-yellow);
}

.check{
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 0 1rem;
}

.check input{
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  cursor: pointer;
  position: relative;
  border-radius: 0.35rem;
}

.check input:checked{
  background-color: green;
}

.check input:checked::before{
  content: '✓';
  position: absolute;
  color: white;
  font-size: 1.05rem;
  font-weight: 600;
  left: 50%;
  top: -3.5px;
  transform: translateX(-50%);
}

.check label{
  color: var(--pl-white);
   font-size: 1.05rem;
   letter-spacing: 0.75px;
}

.slider{
  appearance: none;
  width: 100%;
  height: 0.75rem;
  cursor: pointer;
  background-color: var(--vb-violet);
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  background-image: linear-gradient(var(--vb-violet), var(--vb-violet));
  outline: none;
  border: none;
}

.slider::-webkit-slider-thumb{
  position: relative;
  appearance: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--vb-yellow);
  cursor: pointer;
  margin-top: -3px;
  box-shadow: 0px 0px 20px 0px rgb(225, 229, 61, 0.50);
  transition: all 100ms ease-in;
}

.slider:focus{
  outline: 3px solid var(--vb-yellow);
}

.slider::-webkit-slider-thumb:hover{
  outline: 2px solid var(--vb-yellow);
  background-color: var(--vb-violet);
  box-shadow: 0px 0px 20px 0px rgb(225, 229, 61, 0.50);
}

#dataCopy{
  background-color: transparent;
  border-radius: 10%;
  border: none;
  outline: none;
  padding: 8px;
}

.tooltip{
  position: absolute;
  background-color: var(--vb-violet2);
  color: var(--vb-yellow);
  font-size: 1.25rem;
  top: -35px;
  left: -25px;
  padding: 5px 10px;
  border-radius: 1rem;
  opacity: 0;
  transform: scale(0);
  transform-origin: bottom;
  transition: all 250ms ease-in-out;
}

.tooltip.active{
  opacity: 1;
  transform: scale(1);
}











