*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

  --dk-violet: hsl(268, 75%, 9%);
  --lt-violet: hsl(268, 47%, 21%);
  --lt-violet2: hsl(281, 89%, 26%);
  --vb-violet: hsl(258, 91%, 52%);
  --vb-violet2: hsl(292, 70%, 36%);

  --vb-yellow: hsl(52, 100%, 62%);

  --pl-white: hsl(0, 0%, 100%);

  --vb-cyan: hsl(176, 100%, 44%);
  --vb-cyan2: hsl(177, 92%, 70%);
  --dk-text: hsl(198, 20%, 13%);
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
   align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  /* background: linear-gradient(231deg, rgba(22, 6, 40, 1)0%, rgba(52, 28, 79, 1) 50%, rgba(88, 7, 125,1 ) 100%); */
  background: linear-gradient(231deg, rgb(0, 0, 0)50%, rgb(251, 251, 255) 50%, rgb(162, 161, 162) 10%);
}

/* .githubLogo{
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px; 
  padding: 5px;
  transition: .3s ease-in-out;
  box-shadow: 0px 2px 0px 0px rgb(250, 250, 250);
 } */
/*
.githubLogo:hover{
  box-sizing: border-box;
  border-radius: 15px;
  transform: translateY(-5px);
  background-color: #fbfbfb;
  /* border: 0.1rem solid rgb(35, 217, 205); */
  /* cursor: pointer; */
/* } */


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

.container{
  width: 90%;
  max-width: 400px;
}

/* #heading{
  background-image: linear-gradient(-225deg, #231557 0%,#44107a 29%,#ff1361 67%,#fff800 100%
  );
  font-family: 'Rubik Glitch Pop', system-ui;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  font-size: 30px;

  letter-spacing: 2px;
  text-align: center;
  line-height: 1.2;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
} */

#heading{
  display: inline-block;
  user-select: none;
  justify-content: center;
  text-align: center;
  padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s infinite linear;
  animation-fill-mode: forwards;
  font-size: 24px;
  text-transform: uppercase;
}
@keyframes shine{
  0%{
    background-position: 0
  }
  60%{
    background-position: 180px
  }
  100%{
    background-position:250px
  }
}


.display-container{
  position: relative;
  /* background: var(--dk-violet); */
  background: #040404;
  border-radius: 1rem;
  border-bottom: 0.3rem solid rgb(65, 191, 94);
  margin: 1rem;
  padding: 0.2rem;
}

.display{
  width: 100%;
  background-color: transparent;
  padding: 1rem 1rem;
  color: var(--vb-yellow);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: 1px;
  padding-right: 3.25rem;
  border: none;
}

.display::placeholder{
  position: absolute;
  top: 50%;
  left: 1.5rem;
  font-size: 1.5rem;
  line-height: 30px;
  /* color: var(--vb-yellow); */
  color: rgb(248, 255, 247);
  opacity: 0.65;
  text-transform: uppercase;
  border: none;
  transform: translateY(-50%);
  font-family: 'Dancing Script', cursive;
}

.display-container button{
  position: absolute;
  top: 50%;
  right: 1.15rem;
  padding: 7px;
  transform: translateY(-50%);
  cursor: pointer;
}

.input-container{
  width: 100%;
  /* background-color: var(--dk-violet); */
  background-color: #070707;
  border-radius: 1rem;
  padding: 2rem;
  border-bottom: 0.35rem solid var(--lt-violet2);

  /* background: linear-gradient(410.9deg, rgb(0, 0, 0)62%, rgb(188, 185, 186) 50%, rgb(125, 125, 125) 80%); */
}

.length-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.length-container p:nth-child(1){
  color: var(--pl-white);
  font-size: 1.5rem;
}

.length-container p:nth-child(2){
  color: var(--vb-yellow);
  font-size: 1.5rem;
}


.strength-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.75rem;
  margin-bottom: 2rem;
}

.strength-container p{
  color: var(--pl-white);
  font-size: 1.5rem;
}

.indicator{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.generateBtn{
  width: 100%;
  padding: 1rem;
  background-color: var(--vb-violet);
  text-align: center;
  border-radius: 0.75rem;
  border-bottom: 0.35rem solid var(--vb-yellow);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--vb-yellow);
  font-size: 600;
  font-weight: 1.25rem;
  cursor: pointer;
  border-inline-end-color: var(--vb-yellow);
}

.check{
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 0 1rem;
}

.check input{
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  cursor: pointer;
  position: relative;
  border-radius: 0.35rem;
  border-style: dashed;
}

.check input:checked{
  background-color: green;
  border-style: none;
}

.check input:checked::before{
  content: '✓';
  position: absolute;
  color: white;
  font-size: 1.05rem;
  font-weight: 600;
  left: 50%;
  top: -3.5px;
  transform: translateX(-50%);
}

.check label{
  color: var(--pl-white);
   font-size: 1.05rem;
   letter-spacing: 0.75px;
}

.slider{
  appearance: none;
  width: 100%;
  height: 0.75rem;
  cursor: pointer;
  background-color: var(--vb-violet);
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  background-image: linear-gradient(var(--vb-violet), var(--vb-violet));
  outline: none;
  border: none;
}

.slider::-webkit-slider-thumb{
  position: relative;
  appearance: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--vb-yellow);
  cursor: pointer;
  margin-top: -3px;
  box-shadow: 0px 0px 20px 0px rgb(225, 229, 61, 0.50);
  transition: all 100ms ease-in;
}

.slider:focus{
  outline: 3px solid var(--vb-yellow);
}

.slider::-webkit-slider-thumb:hover{
  outline: 2px solid var(--vb-yellow);
  background-color: var(--vb-violet);
  box-shadow: 0px 0px 20px 0px rgb(225, 229, 61, 0.50);
}

#dataCopy{
  background-color: transparent;
  border-radius: 10%;
  border: none;
  outline: none;
  padding: 8px;
}

.tooltip{
  position: absolute;
  background-color: var(--vb-violet2);
  color: var(--vb-yellow);
  font-size: 1.25rem;
  top: -35px;
  left: -25px;
  padding: 5px 10px;
  border-radius: 1rem;
  opacity: 0;
  transform: scale(0);
  transform-origin: bottom;
  transition: all 250ms ease-in-out;
}

.tooltip.active{
  opacity: 1;
  transform: scale(1);
}











